*, *::after, *::before{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    margin: 0 0 1rem;
}

p:last-of-type{
    margin: 0;
}

button{
    border: none;
    cursor: pointer;
}

.image{
    margin: 0;
}

.access-hidden{
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.ionicon{
    fill: var(--white);
    display: block;
}

.ionicon > path{
    stroke: var(--black);
}

a.button{
    display: inline-block;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    padding: 1em 2em;
    border: var(--border-size-2) solid var(--maroon);
    border-radius: var(--radius-3);
}

.center{
    text-align: center;
}

.slider-content, .slider-controls{
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;   
}

.slider-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    z-index: 0;
}

/* Three column structure */
.card-section{
    padding: 3.5rem 0;
    background-color: var(--gray-0);
}

.card-heading{
    margin: 0 auto;
    width: 85ch;
    text-align: center;
    padding-block-end: 2em;
}

.card-heading .primary-heading{
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-3);
    font-size: var(--font-size-5);
    margin-block-end: 0.8em;
}

.three-card-container{
    max-width: 80rem;
    margin: 1px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.2em;
    counter-reset: value-counter;
}

.three-card-container .card{
    padding: 0.8rem;
}

.three-card-container img{
    object-fit: cover;
    width: 90%;
    aspect-ratio: var(--ratio-portrait);
    margin: 0 auto;
    padding-block-end: 1em;
    border-radius: var(--radius-2);
}

.three-card-container .card .center p{
    font-style: italic;
    letter-spacing: var(--font-letterspacing-2);
    color: var(--indigo-12);
    font-size: var(--font-size-3);
}

.three-card-container .card .center h4{
    letter-spacing: var(--font-letterspacing-3);
    font-size: calc(var(--font-size-4) + 0.215rem);
}