*, *::after, *::before{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    margin: 0 0 1rem;
}

p:last-of-type{
    margin: 0;
}

button{
    border: none;
    cursor: pointer;
}

a{
    display: inline-block;
}

.image{
    margin: 0;
}

.ionicon > path{
    stroke: var(--black);
}

a.button{
    display: inline-block;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    padding: 1em 2em;
    border: var(--border-size-2) solid var(--maroon);
    border-radius: var(--radius-3);
}

.center{
    text-align: center;
}

.slider-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
}

.dark-section{
    background-color: var(--sand-10);
    color: var(--camo-0);
}

/* Form */
form{
    padding: 2rem;
}

/* --------- */

/* Inputs */
input[type=text],
input[type=email]{
    background-color: var(--stone-0);
    display: block;
    margin: 0.4rem 0;
    padding: 0.4rem 0.6rem;
    border-radius: var(--radius-3);
    outline: 2px solid var(--stone-0);
    outline-offset: -4px;
    font-size: var(--font-size-2);
    width: 75%;
    transition: outline-offset 400ms var(--ease-in-out-2);
}

input:focus-visible{
    outline-offset: 2px;
    transition: outline-offset 350ms var(--ease-in-2);
}

input:user-valid, input:focus:valid{
    outline-color: var(--support-green);
}

input:user-invalid{
    outline-color: var(--support-red);
    outline-offset: -5px;
}

input:focus:invalid{
    outline-color: var(--support-orange);
}

.form-group{
    display: grid;
}

label{
    font-size: var(--font-size-3);
}

/* ----------- */

/* Three column structure */
.card-section{
    padding: 3.5rem 0;
    background-color: var(--gray-0);
}

.card-heading{
    margin: 0 auto;
    width: 85ch;
    text-align: center;
    padding-block-end: 2em;
}

.card-heading .primary-heading{
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-3);
    font-size: var(--font-size-5);
    margin-block-end: 0.8em;
}

.three-card-container .card{
    padding: 0.8rem;
}

.three-card-container img{
    border-radius: var(--radius-2);
}

.three-card-container .card .center p{
    font-style: italic;
    letter-spacing: var(--font-letterspacing-2);
    color: var(--indigo-12);
    font-size: var(--font-size-3);
}

.three-card-container .card .center h4{
    letter-spacing: var(--font-letterspacing-3);
    font-size: calc(var(--font-size-4) + 0.215rem);
}

/* images */
.bright-10{
    filter: brightness(110%);
}