.footer a{
    color: var(--stone-0);
}

.footer a:focus-visible,
.footer a:active{
    text-decoration-color: var(--red-0);
}

.footer .social-item a{
    background-color: transparent;
    border-radius: var(--radius-3);
}

.footer .social-item a:focus-visible{
    outline-color: var(--gray-1);
}

.footer .social-item .ionicon{
    fill: var(--gray-0);
    transition: fill 250ms var(--ease-in-out-3)
}

.footer > .social-nav > ul{
    justify-content: center;
    gap: 1rem;
}

.copyright:last-of-type{
    text-transform: uppercase;
    margin: 2rem 0 0;
    font-weight: var(--font-weight-6);
}

@media (hover : hover){
    .footer a:hover{
        text-decoration-color: var(--red-0);
    }

    .footer .social-item a:hover{
        background-color: var(--red-0);
    }

    .footer .social-item a:hover .ionicon{
        fill: var(--gray-10);
    }
}