.header.stick{
    position: fixed;
    top: 0;
    background-color: rgb(240, 240, 240);
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
}

/* Primary - logo */
.primary-logo{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--brand-color);
}

/* Social Nav */
.social-item > a > .ionicon{
    fill: var(--black);
}

/* Primary Nav */
.primary-nav > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
}

.primary-nav > .social-nav a{
    width: 100%;
}

.primary-nav > .social-nav a svg{
    width: 3rem;
}

.search-drawer.active{
    display: block;
}

.search-drawer{
    position: fixed;
    right: 0.8rem;
    top: 5rem;
}

.open-search > .ionicon{
    fill: transparent;
}

.open-search > .ionicon > path{
    stroke: var(--brand-color);
}

.open-search{
    background-color: transparent;
    outline-color: transparent;
    outline-style: solid;
    outline-offset: -0.2rem;
    transform-origin: center;
    will-change: transform;
    transition: background-color 300ms var(--ease-in-out-3), transform 350ms var(--ease-out-3), outline-offset 350ms var(--ease-in-2);
}

.open-search:active{
    background-color: var(--brand-color);
    transform: scale(0.8);
}

.open-search:focus-visible{
    outline-offset: 0.10rem;
    outline-width: 0.4rem;
    outline-color: var(--brand-color);
}

.search-form{
    display: grid;
    background-color: var(--white);
    padding-inline: 0.8rem;
    border-radius: 15px;
}

.search-form-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form-first > label{
    padding-inline: 6px;
}

.search-form-second{
    display: flex;
    align-items: center;
}

.search-form-second > input{
    padding-inline: 0.6rem;
    padding-block: 0.5rem;
    border: none;
    outline: 2px solid var(--black);
    border-radius: 9px;
    background-color: var(--gray-1);
}

.search-close{
    background-color: inherit;
    padding: 0.1rem 0.2rem 0;
    border-radius: var(--radius-2);
    outline-style: solid;
    outline-color: transparent;
    outline-offset: -0.115rem;
    transition: background-color 350ms var(--ease-in-out-3),
                outline-offset 300ms var(--ease-in-2),
                outline-color 300ms var(--ease-in-2),
                transform 300ms var(--ease-out-3);
}

.search-close > .ionicon{
    width: 2.2rem;
}

.search-close:focus-visible{
    outline-offset: 0.115rem;
    outline-width: 0.4rem;
    outline-color: var(--brand-color);
}

.search-close:active{
    transform: scale(0.85);
    background-color: var(--gray-8);
}

.search-close:active > .ionicon > path{
    stroke: var(--white);
}

/* Links */

.hover-link:link,
.hover-link:visited{
    border-bottom: 3.2px solid transparent;
    color: var(--stone-9);
    outline-style: solid;
    outline-color: transparent;
    outline-offset: -0.115rem;
    transition: 
        border-bottom 350ms var(--ease-in-out-3),
        color 270ms var(--ease-in-3),
        transform 250ms var(--ease-out-3),
        outline-color 300ms var(--ease-out-3),
        outline-offset 300ms var(--ease-in-2);
}

.hover-link:active{
    transform: scale(0.88);
}

.hover-link:focus-visible{
    border-bottom-color: var(--brand-color);
    outline-offset: 0.2rem;
    outline-width: 0.3rem;
    outline-color: var(--indigo-6);
}

/* Github links */

.header-right .social-nav .github_link{
    position: relative;
}

.header-right .social-nav .github_link::after{
    content: attr(data-hover-text);
    position: absolute;
    display: block;
    width: 10.5rem;
    top: 85%;
    left: -100%;
    white-space: nowrap;
    z-index: 2;
    transform: scale(0, 0.5);
    background-color: var(--gray-8);
    color: var(--red-0);
    padding: 0.3em;
    transition: transform 350ms var(--ease-in-2);
    border-radius: var(--radius-3);
}

@media (hover : hover){
    .open-search:hover{
        background-color: var(--brand-color);
    }
    
    .open-search:hover > .ionicon > path{
        stroke: #f4f4f4;
    }

    .search-close:hover{
        background-color: var(--gray-8);
    }
    
    .search-close:hover > .ionicon > path{
        stroke: var(--white);
    }

    .header-right .social-nav .github_link:hover::after{
        transform: scale(1, 1);
    }

    .hover-link:hover{
        border-bottom-color: var(--brand-color);
        color: var(--brand-color);
        transform: scale(1.05) translateY(-2px);
    }
}