/* Primary - logo */
.primary-logo{
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-4);
    font-weight: 700;
    color: var(--brand-color);
    font-size: var(--font-size-fluid-2);
}

/* Social Nav */
.social-item > a > .ionicon{
    fill: var(--black);
}

/* Primary Nav */
.primary-nav > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--font-weight-5);
    letter-spacing: var(--font-letterspacing-3);
}

.primary-nav > ul > li > a{
    font-size: var(--font-size-fluid-1);
}

.search-drawer.active{
    display: block;
}

.search-drawer{
    position: fixed;
    right: 0.8rem;
    top: 5rem;
}

.open-search > .ionicon, .search-button > .ionicon{
    display: block;
    width: 2.3rem;
}

.search-form{
    display: grid;
    background-color: var(--white);
    padding-inline: 0.8rem;
    border-radius: 15px;
}

.search-form-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form-first > label{
    padding-inline: 6px;
    font-size: 1.2rem;
}

.search-form-second{
    display: flex;
    align-items: center;
}

.search-form-second > input{
    padding-inline: 0.6rem;
    padding-block: 0.5rem;
    border: none;
    outline: 2px solid var(--black);
    border-radius: 9px;
    color: var(--black);
}

.search-close{
    background-color: inherit;
    padding: 0.1rem 0.2rem 0;
}

.search-close > .ionicon{
    width: 2.2rem;
}

.search-close > .ionicon > path:hover{
    stroke: var(--mid-gray);
}

/* Links */

.hover-link:link,
.hover-link:visited{
    border-bottom: 3.2px solid transparent;
    color: var(--stone-9);
    transition: 
        border-bottom 350ms var(--ease-in-out-3),
        color 270ms var(--ease-in-3),
        transform 250ms var(--ease-in-out-3);
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active{
    border-bottom-color: var(--brand-color);
    color: var(--brand-color);
    transform: scale(1.05) translateY(-2px);
}

/* Github links */

.github_link{
    position: relative;
}

.github_link::after{
    content: attr(data-hover-text);
    position: absolute;
    display: block;
    width: 11rem;
    top: 85%;
    left: -100%;
    white-space: nowrap;
    z-index: 2;
    transform: scale(0, 0.5);
    background-color: var(--gray-8);
    color: var(--red-0);
    padding: 0.3em;
    transition: transform 350ms var(--ease-in-2);
    border-radius: var(--radius-3);
}

.github_link:hover::after{
    transform: scale(1, 1);
}