/* Slider */

.slider .slider-controls{
    z-index: 1;
}

.slider-content-container{
    background-color:rgba(255, 240, 246, 0.866);
    text-align: center;
    z-index: 2;
    color: var(--sand-12);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-3);
}

.slider-content-container::after{
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 2px solid var(--black);
    z-index: -2;
}

.slider-heading{
    margin: 0 0 1rem;
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-3);
    font-size: var(--font-size-5);
}

.slider-content-container p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-block: 0.7rem;
}

.slider-content-container p:last-child{
    margin-block: 0.3rem;
}

.slider-content-container .button{
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-4);
    color: var(--gray-9);
    background-color: var(--yellow-0);
    transition: 
            background-color 350ms var(--ease-in-out-2),
            color 325ms var(--ease-in-out-2);
}

.slider-content-container .button:hover,
.slider-content-container .button:focus,
.slider-content-container .button:active{
    background-color: var(--choco-2);
    color: var(--stone-11);
}

.slider-controls > *{
    height: auto;
    border: none;
    background-color: var(--orange-1);
    transition: background-color 350ms var(--ease-in-3);
    border-radius: var(--radius-3);
}

.slider-button:hover,
.slider-button:active,
.slider-button:focus{
    background-color: var(--choco-1);
}

.slider-controls .ionicon{
    fill: transparent;
    width: 100%;
}

.slider-controls .ionicon path{
    stroke: var(--red-6);
    transition: stroke 450ms var(--ease-3);
}

.slider-button:hover .ionicon path,
.slider-button:focus .ionicon path,
.slider-button:active .ionicon path{
    stroke: var(--gray-8)
}

/* Card contents */

.card-content-header::before{
    counter-increment: value-counter;
    content: counter(value-counter) '.';
    font-size: 1.7rem;
    margin-inline-end: 0.5rem;
    color: var(--maroon);
}

.content-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--brand-color);
    font-weight: var(--font-weight-5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-link svg{
    transform: translateX(0);
    transition: transform 350ms var(--ease-in-out-3);
}

.content-link .ionicon path{
    stroke: var(--brand-color);
}

.content-link:hover svg,
.content-link:active svg,
.content-link:focus svg{
    transform: translateX(0.6rem);
}

.two-column{
    padding: 3.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: clamp(0.6rem, 1.5vw, 1.5rem);
}

.two-column img{
    border-radius: var(--radius-3);
}

.two-column .column-content{
    padding-inline: 3rem;
    align-self: center;
}

.two-column .column-content h3{
    padding-block: 1.5rem;
    text-transform: uppercase;
}

/* Three card section seperate styles for latest post section */
.three-card-container .card .wrapper .card-category{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--sand-5);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-block-end: 1rem;
}

.fourth-heading{
    padding-block: 0.8rem;
}

/* Overlay Section */

.overlay-hover-section{
    padding: 3.5rem 0;
    background-color: var(--gray-2);
}

.overlay-hover-section .card-heading h3{
    text-transform: uppercase;
}

.overlay-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3px;
    margin-bottom: 2.5rem;
}

.overlay-item{
    position: relative;
    z-index: 0;
}

.overlay-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1.2 / 1.2;
    border-radius: var(--radius-3);
}

.overlay-item .overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 65%;
    padding: 0.9rem;
    background-color: rgba(255, 240, 246, 0.848);
    color: var(--blue-12);
    backdrop-filter: blur(0.5rem);
    text-align: center;
    border-radius: var(--radius-3);
}

.overlay-item .overlay-content::after{
    content: '';
    position: absolute;
    width: calc(100% - 0.9rem);
    height: calc(100% - 0.9rem);
    left: 0.4rem;
    top: 0.4rem;
    border: 2px solid var(--black);
    border-radius: var(--radius-3);
    z-index: -1;
    pointer-events: none;
}

.overlay-hover-section .button{
    width: 30%;
    color: var(--choco-12);
    padding: 0.6rem;
    background-color: var(--gray-3);
    transition: background-color 450ms var(--ease-in-1)
}

.overlay-hover-section .button:hover,
.overlay-hover-section .button:active,
.overlay-hover-section .button:focus{
    background-color: var(--indigo-0);
}

.overlay-hover-section .fourth-heading{
    margin: 0 0 0.4rem;
}

/* Testimonial section */
.testimonial-slider-section{
    padding: 3.5rem 1.3rem;
    background-color: var(--sand-10);
    color: var(--choco-0);
    height: auto;
    width: 100%;
    z-index: 1;
    position: relative;
}

.testimonial-slider-section ul::before{
    content: open-quote;
    display: block;
    font-size: 4.2rem;
    text-align: center;
    color: var(--sand-0);
    line-height: var(--font-lineheight-2);
}

.testimonial-slider-section ul{
    list-style-type: none;
}

.testimonial-slider-section .slider-controls{
    z-index: 0;
}

.testimonial{
    max-width: 50rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.testimonial-slider-section .slider-button{
    background-color: transparent;
    transition: background-color 350ms var(--ease-in-3);
}

.testimonial-slider-section .slider-button .ionicon path{
    stroke: var(--stone-0);
}

.testimonial-slider-section .slider-button:active,
.testimonial-slider-section .slider-button:hover,
.testimonial-slider-section .slider-button:focus{
    background-color: var(--stone-0);
}

.testimonial-slider-section .slider-button:active .ionicon path,
.testimonial-slider-section .slider-button:focus .ionicon path,
.testimonial-slider-section .slider-button:hover .ionicon path{
    stroke: var(--gray-10);
}

/* Contact Section */
.contact-info{
    background-color: var(--gray-2);
}

.contact-info img{
    filter: brightness(95%);
}

.contact-info .contact-form{
    width: 100%;
    background-color: transparent;
    border-radius: var(--radius-4);
}

.contact-form .button{
    background-color: var(--gray-11);
    color: var(--sand-0);
    width: 50%;
    padding: 0.5rem;
    margin: 0.7rem;
    font-size: var(--font-size-3);
    transition: 
        background-color 450ms var(--ease-in-out-2),
        color 250ms var(--ease-in-2);
    border-radius: var(--radius-4);
}

.contact-form .button:hover,
.contact-form .button:active,
.contact-form .button:focus{
    background-color: transparent;
    color: var(--gray-11);
}