/* Slider */
.slider{
    display: grid;
    grid-template-areas: 'stack';
    grid-template-columns: 1fr 6fr 1fr;
    gap: 1.3rem 0;
}

.slider .slider-button {
    grid-area: stack;
    position: relative;
    z-index: 1;
    align-self: center;
    justify-self: center;
    margin-inline: 0.5rem;
    display: flex;
    justify-content: center;
}

.slider .slider-right{
    grid-column-start: 3;
    grid-column-end: 3;
}

.slider-content-container{
    background-color:rgba(255, 240, 246, 0.866);
    text-align: center;
    color: var(--sand-12);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-3);
}

.slider-content-container::after{
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 2px solid var(--black);
    z-index: -2;
}

.slider-content{
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

.slider-heading{
    margin: 0 0 0.5rem;
    text-transform: uppercase;
}

.slider-content-container p{
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
}

.slider-content-container p:first-of-type{
    margin-block-start: 0.4rem;
    margin-block-end: 1.5rem;
}

.slider-content-container p:last-child{
    margin-block-end: 0.3rem;
}

.slider-content-container .button{
    text-transform: uppercase;
    color: #FAFAFA;
    background-color: var(--brand-color);
    outline-color: var(--brand-color);
    outline-style: solid;
    outline-offset: -2px;
    transition: 
            background-color 350ms var(--ease-in-out-2),
            color 325ms var(--ease-in-out-2),
            outline-offset 300ms var(--ease-elastic-out-2),
            transform 300ms var(--ease-out-3);
    border: none;
}

.slider-content-container .button:focus-visible{
    outline-color: var(--choco-11);
    outline-offset: 0.15rem;
    outline-width: 0.35rem;
}

.slider-content-container .button:active{
    transform: scale(0.88);
}

.slider-button{
    border: none;
    border-radius: var(--radius-3);
    will-change: transform;
}

.slider .slider-button{
    background-color: var(--brand-color);
    outline-color: var(--brand-color);
}

.slider-controls .ionicon path{
    stroke: #f4f4f4;
    transition: stroke 250ms var(--ease-3);
}

.slider-button:focus-visible{
    outline-offset: 1px;
    outline-color: var(--pink-0);
    outline-width: 0.5rem;
}

.slider-button:active{
    background-color: var(--indigo-0);
    transform: scale(0.8);
}

/* Card contents */

.card-content{
    padding-block: 1rem;
    padding-inline: 0.9rem;
}

.card-content-header::before{
    counter-increment: value-counter;
    content: counter(value-counter) '.';
    font-size: 1.7rem;
    margin-inline-end: 0.5rem;
    color: var(--maroon);
}

.content-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-link svg{
    transform: translateX(0);
    transition: transform 350ms var(--ease-in-out-3);
}

.content-link .ionicon path{
    stroke: var(--brand-color);
}

.content-link:hover svg,
.content-link:active svg,
.content-link:focus svg{
    transform: translateX(0.6rem);
}

.two-column{
    padding: 3.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(0.6rem, 1.5vw, 1.5rem);
}

.two-column img{
    border-radius: var(--radius-3);
}

.two-column .column-content{
    padding-inline: 3rem;
    align-self: center;
}

.two-column .column-content h3{
    padding-block: 1.5rem;
    text-transform: uppercase;
}

/* Three card section seperate styles for latest post section */
.three-card-container .card .wrapper .card-category{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--sand-5);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-block-end: 1rem;
}

.fourth-heading{
    padding-block-start: 0.8rem;
    padding-block-end: 0.5rem;
}

/* Overlay Section */

.overlay-hover-section{
    padding: 3.5rem 0;
    background-color: var(--gray-2);
}

.overlay-hover-section .card-heading h3{
    text-transform: uppercase;
}

.overlay-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3px;
    margin-bottom: 2.5rem;
}

.overlay-item{
    position: relative;
    z-index: 0;
}

.overlay-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1.2 / 1.2;
    border-radius: var(--radius-3);
}

.overlay-item .overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 65%;
    padding: 0.9rem;
    background-color: rgba(255, 240, 246, 0.848);
    color: var(--blue-12);
    backdrop-filter: blur(0.5rem);
    text-align: center;
    border-radius: var(--radius-3);
}

.overlay-item .overlay-content::after{
    content: '';
    position: absolute;
    width: calc(100% - 0.9rem);
    height: calc(100% - 0.9rem);
    left: 0.4rem;
    top: 0.4rem;
    border: 2px solid var(--black);
    border-radius: var(--radius-3);
    z-index: -1;
    pointer-events: none;
}

.overlay-hover-section .button{
    width: 30%;
    color: var(--choco-12);
    padding: 0.6rem;
    background-color: var(--gray-3);
    transition: background-color 450ms var(--ease-in-1)
}

.overlay-hover-section .button:hover,
.overlay-hover-section .button:active,
.overlay-hover-section .button:focus{
    background-color: var(--indigo-0);
}

.overlay-hover-section .fourth-heading{
    margin: 0 0 0.4rem;
}

/* Testimonial section */
.testimonial-slider-section{
    padding: 3.5rem 1.3rem;
    background-color: var(--sand-10);
    color: var(--choco-0);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.testimonial-slider-section .slider-button{
    outline-color: transparent;
}

.testimonial-slider-section .slider-left{
    justify-self: center;
}

.testimonial-slider-section .slider-right{
    grid-column-start: 3;
}

.testimonial-slider-section ul{
    grid-column: 2 / 2;
    grid-row: 2 / -1;
    list-style-type: none;
}

.testimonial-slider-section ul::before{
    content: open-quote;
    display: block;
    font-size: 4.2rem;
    text-align: center;
    color: var(--sand-0);
    line-height: 0.9;
    grid-row-start: 1;
}

.testimonial{
    max-width: 50rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    grid-row-start: 2;
}

.testimonial-slider-section .slider-button{
    background-color: transparent;
    transition: background-color 350ms var(--ease-in-3);
}

.testimonial-slider-section .slider-button .ionicon path{
    stroke: var(--stone-0);
}

.testimonial-slider-section .slider-button:active,
.testimonial-slider-section .slider-button:hover,
.testimonial-slider-section .slider-button:focus{
    background-color: var(--stone-0);
}

.testimonial-slider-section .slider-button:active .ionicon path,
.testimonial-slider-section .slider-button:focus .ionicon path,
.testimonial-slider-section .slider-button:hover .ionicon path{
    stroke: var(--gray-10);
}

/* Contact Section */
.contact-info{
    background-color: var(--gray-2);
}

.contact-info img{
    filter: brightness(95%);
}

.contact-info .contact-form{
    width: 100%;
    background-color: transparent;
    border-radius: var(--radius-4);
}

.contact-form .button{
    background-color: var(--gray-11);
    color: var(--sand-0);
    width: 50%;
    padding: 0.5rem;
    margin: 0.7rem;
    font-size: var(--font-size-3);
    transition: 
        background-color 450ms var(--ease-in-out-2),
        color 250ms var(--ease-in-2);
    border-radius: var(--radius-4);
}

.contact-form .button:hover,
.contact-form .button:active,
.contact-form .button:focus{
    background-color: transparent;
    color: var(--gray-11);
}

@media (hover : hover){
    .slider-content-container .button:hover{
        background-color: #f4f4f4;
        color: var(--brand-color);
    }

    .slider-button:hover{
        background-color: var(--choco-1);
    }

    .slider-button:hover .lucide path,
    .slider-button:active .lucide path{
        stroke: var(--gray-10);
    }
}