/* Slider */
.slider{
    position: relative;
}

.slider-content, .slider-controls{
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 8 / 3.4;
}

.slider-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-content-container{
    position: relative;
    width: 40rem;
    max-width: 100%;
    padding: 2.8rem;
    background-color:rgba(255, 240, 246, 0.866);
    text-align: center;
    z-index: 2;
    color: var(--sand-12);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-3);
}

.slider-content-container::after{
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 2px solid var(--black);
    z-index: -2;
}

.slider-heading{
    margin: 0 0 1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: var(--font-size-5);
}

.slider-content-container p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-block: 0.7rem;
}

.slider-content-container p:last-child{
    margin-block: 0.3rem;
}

.slider-content-container .button{
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-4);
    color: var(--gray-9);
    background-color: var(--yellow-0);
    transition: 
            background-color 350ms var(--ease-in-out-2),
            color 325ms var(--ease-in-out-2);
}

.slider-content-container .button:hover,
.slider-content-container .button:focus,
.slider-content-container .button:active{
    background-color: var(--choco-2);
    color: var(--stone-11);
}

.slider-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;
    z-index: 0;
}

.slider-controls > *{
    cursor: pointer;
    width: 3.4rem;
    padding: 0.5rem;
    height: auto;
    border: none;
    background-color: var(--orange-1);
    transition: background-color 350ms var(--ease-in-3);
    border-radius: var(--radius-3);
}

.slider-left:hover,
.slider-left:active,
.slider-left:focus,
.slider-right:active,
.slider-right:focus,
.slider-right:hover{
    background-color: var(--choco-1);
}

.slider-controls .ionicon{
    fill: transparent;
    width: 100%;
}

.slider-controls .ionicon path{
    stroke: var(--red-6);
    transition: stroke 450ms var(--ease-3);
}

.slider-left:hover .ionicon path,
.slider-left:focus .ionicon path,
.slider-left:active .ionicon path,
.slider-right:hover .ionicon path,
.slider-right:focus .ionicon path,
.slider-right:active .ionicon path{
    stroke: var(--gray-8)
}

.slider ul{
    margin: 0;
    padding: 0;
    z-index: -3;
}

.slider-image{
    list-style-type: none;
}

.slider-image img{
    object-fit: cover;
    aspect-ratio: 8 / 3.4;
}

.card-content-header::before{
    counter-increment: value-counter;
    content: counter(value-counter) '.';
    font-size: 1.7rem;
    margin-inline-end: 0.5rem;
    color: var(--maroon);
}

.card-content-header{
    letter-spacing: var(--font-letterspacing-3);
    line-height: var(--font-lineheight-2);
}

.content-link{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-3);
    color: var(--maroon);
    font-weight: var(--font-weight-5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-link svg{
    width: 4em;
    padding: 0.5em;
    transform: translateX(0);
    transition: transform 350ms var(--ease-in-out-3);
}

.content-link:hover svg,
.content-link:active svg,
.content-link:focus svg{
    transform: translateX(0.6rem);
}

.two-column{
    padding: 3.5rem 1rem;
    background-color: var(--sand-10);
    color: var(--camo-0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1.5rem;
}

.two-column img{
    width: 95%;
    aspect-ratio: var(--ratio-landscape);
    margin: 0 auto;
    border-radius: var(--radius-3);
    object-fit: cover;
}

.two-column .column-content{
    padding-inline: 3rem;
    align-self: center;
}

.two-column .column-content h3{
    padding-block: 1.5rem;
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-4);
    font-size: var(--font-size-5);
}

.two-column .column-content p{
    letter-spacing: var(--font-letterspacing-3);
}

/* Three card section seperate styles for latest post section */
.three-card-container .card .wrapper .card-category{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-2);
    border-bottom: 1px dashed var(--sand-5);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-block-end: 1rem;
}

.fourth-heading{
    letter-spacing: var(--font-letterspacing-3);
    padding-block: 0.8rem;
}

.overlay-hover-section{
    padding: 3.5rem 0;
    background-color: var(--gray-2);
}

.overlay-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3px;
    margin-bottom: 2.5rem;
}

.overlay-item{
    position: relative;
    z-index: 0;
}

.overlay-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1.2 / 1.2;
    border-radius: var(--radius-3);
}

.overlay-item .overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 65%;
    padding: 0.9rem;
    background-color: rgba(255, 240, 246, 0.848);
    color: var(--blue-12);
    backdrop-filter: blur(0.5rem);
    text-align: center;
    border-radius: var(--radius-3);
}

.overlay-item .overlay-content::after{
    content: '';
    position: absolute;
    width: calc(100% - 0.9rem);
    height: calc(100% - 0.9rem);
    left: 0.4rem;
    top: 0.4rem;
    border: 2px solid var(--black);
    border-radius: var(--radius-3);
    z-index: -1;
    pointer-events: none;
}

.overlay-hover-section .button{
    width: 30%;
    color: var(--choco-12);
    font-size: var(--font-size-4);
    padding: 0.6rem;
    background-color: var(--gray-3);
    transition: background-color 450ms var(--ease-in-1)
}

.overlay-hover-section .button:hover,
.overlay-hover-section .button:active,
.overlay-hover-section .button:focus{
    background-color: var(--indigo-0);
}