/* Navigation Bar */
@media (width < 64rem){
    .header{
        padding-block: 0;
        justify-content: start;
        height: 4.5rem;
    }

    .primary-logo{
        padding-inline-start: 0.85rem;
    }

    .mobile-nav,
    .mobile-close-nav{
        display: block;
        background-color: transparent;
        position: absolute;
        border-radius: var(--radius-2);
        transition: background-color 350ms var(--ease-in-out-3);
        padding: 0.5rem;
    }

    .mobile-nav{
        right: 1.35rem;
    }

    .mobile-nav > *{
        height: 0.3rem;
        background-color: var(--stone-11);
        margin: 0.3rem 0;
        transition: background-color 350ms var(--ease-in-out-3);
        position: relative;
    }

    .mobile-nav div:nth-child(1){
        width: 1.5rem;
    }

    .mobile-nav div:nth-child(2){
        width: 2.1rem;
    }

    .mobile-nav div:nth-child(3){
        width: 1.1rem;
    }

    .mobile-close-nav{
        width: 4rem;
        height: 4rem;
        padding: 0;
        margin: 0.5rem;
    }

    .mobile-close-nav > *{
        position: absolute;
        width: 0.5rem;
        height: 2.5rem;
        background-color: var(--gray-10);
        left: 45%;
        bottom: 18%;
    }

    .mobile-close-nav > div:first-child{
        transform: rotate(45deg);
        transform-origin: center;
    }

    .mobile-close-nav > div:last-child{
        transform: rotate(-45deg);
        transform-origin: center;
    }

    .mobile-nav:focus{
        background-color: var(--stone-10);
    }

    .mobile-nav:hover > *,
    .mobile-nav:focus > *,
    .mobile-nav:active > *{
        background-color: var(--gray-2);
    }

    .mobile-close-nav:focus,
    .mobile-close-nav:active,
    .mobile-close-nav:hover{
        background-color: var(--gray-7);
    }

    .mobile-close-nav:focus > *,
    .mobile-close-nav:hover > *,
    .mobile-close-nav:active > *{
        background-color: var(--gray-2);
        outline: none;
    }

    @media (hover : hover){
        .mobile-nav:hover{
            background-color: var(--stone-10);
        }
    }

    .primary-nav{
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        width: 300px;
        z-index: 2;
        background-color: var(--gray-1);
        transform: translateX(300px);
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
        opacity: 0.3;
        visibility: hidden;
        transition:
                transform 550ms var(--ease-in-out-3),
                filter 450ms var(--ease-in-3),
                opacity 300ms var(--ease-out-3),
                visibility 0ms 550ms;
    }

    .primary-nav.active{
        transform: translateX(0px);
        filter: drop-shadow(-4px 0 5px rgba(0, 0, 0, 0.3));
        opacity: 1;
        visibility: visible;
        transition-delay: 0ms;
    }

    .primary-nav.active ul{
        flex-direction: column;
        padding-block: 1.2rem;
        padding-inline: 1.5rem;
        margin-top: 5.75rem;
    }

    .header-right{
        width: auto;
        position: absolute;
        right: 4.5rem;
    }

    /* Slider */
    .slider-image img{
        aspect-ratio: 1 / 0;
    }

    .card-heading{
        width: 100%;
    }

    /* Overlay hover section */
    .overlay-hover-section .button{
        width: 95%;
    }

    /* Two column */
    .two-column{
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    }
    
    .two-column img{
        aspect-ratio: 8 / 4;
    }
}

@media (width < 861px){
    .slider-content-container{
        width: 70%;
        backdrop-filter: blur(3px);
    }
}

@media (width < 46rem){
    .slider{
        padding: 1rem;
    }

    .slider-content{
        position: static;
        margin: 0 0 1rem;
        transform: translate(5px, 10px);
    }

    .slider-content-container{
        width: 95%;
        background-color: var(--red-0);
        padding: 1.5rem;
    }

    .slider-content-container::after{
        top: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
    }

    .slider-image img{
        border-radius: var(--radius-3);
    }
}

@media (width < 33rem){
    .slider{
        padding: 0.4rem;
    }

    .slider-image img{
        height: 15rem;
        aspect-ratio: 2 / 1;
    }
}

@media (width < 425px){
    .mobile-nav > *{
        height: 0.2rem;
        width: 1.9rem;
        margin-block: 0.38rem;
    }

    a.button{
        padding: 0.6rem;
    }

    .header .social-nav{
        display: none;
    }

    .primary-nav .social-nav{
        display: block;
    }
}

/* Three Column Section */
@media (500px < width < 925px){
    .three-card-container{
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    }

    .three-card-container .card{
        display: flex;
        align-items: center;
    }

    .three-card-container .card img{
        aspect-ratio: 5 / 7;
    }

    .three-card-container .card:nth-child(2n){
        flex-direction: row-reverse;
        padding: 1.5rem;
    }
}

@media (width < 32rem){
    .three-card-container .card img{
        aspect-ratio: 1 / 1.3;
    }
}

@media (width < 23rem){
    .card-section{
        padding-inline: 0.5rem;
    }

    .three-card-container, .two-card-container{
        padding-inline: 0.5rem;
    }

    .three-card-container .card{
        padding: 0.2rem;
    }
}

/* Dark Section */
@media (width < 30rem){
    .two-column{
        padding-inline: 0.5rem;
    }

    .two-column .column-content{
        padding-inline: 0.7rem;
    }
}

@media (width < 36rem){
    :root{
        --font-0: calc(1.15rem - 0.3rem);
        --font-1: calc(2rem - 0.3rem);
        --font-2: calc(2.3125rem - 0.3rem);
        --font-3: calc(2.68rem - 0.3rem);
        --font-heading: calc(2.1rem - 0.3rem);
        --font-link: calc(1.1875rem  0.3rem);
        --font-button: calc(1.45rem - 0.3rem);
        --font-label: calc(1.375rem - 0.3rem);
    }
    
    form{
        padding: 1rem;
    }

    .two-column .column-content h3{
        text-align: center;
    }
}

@media (1023px < width < 1046px){
    .social-item a{
        width: 3.1rem;
    }
}

/* Testimonial */
@media (width < 960px){

    .testimonial-slider-section .slider-controls{
        align-items: flex-end;
        transform: translateY(40px);
    }
}

.mobile-nav:active{
    transform: translateY(2px);
}