@import 'open-props/colors.min.css';
@import 'open-props/borders.min.css';
@import 'open-props/easings.min.css';
@import 'open-props/normalize.min.css';
@import 'open-props/aspects.min.css';


:root{
    --white: #f9f9f9;
    --gray: #eaeaea;
    --black: #3e403d;
    --light-gray: #f8f8f8;
    --mid-gray: #8c8c84;
    --yellow: #fddfa7;
    --gold: #a68256;
    --maroon: #590202;
    --brand-color: hsl(259, 69%, 45%);
    --support-red: hsl(0, 73%, 53%);
    --support-green: hsl(120, 69%, 45%);
    --support-orange: hsl(39, 78%, 55%);
    --font-size-fluid-1: max(1rem, min(1.35vw, 1.46rem));
    --ease-elastic-out-2: cubic-bezier(0.51, 0.69, 0.75, 1.25);
    --font-0: 1.15rem;
    --font-1: 2rem;
    --font-2: 2.3125rem;
    --font-3: 2.68rem;
    --font-heading: 2.1rem;
    --font-link: 1.1875rem;
    --font-button: 1.45rem;
    --font-label: 1.375rem;
}